/* GENERAL*/
body{
    background-image: url(./resources/fondo_vectorizado.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
/* LOGIN */
.container{
    background-color: rgba(0, 0, 0, 0.616);
    width: 30%;
    padding: 5%;
    justify-content: center;
    margin-top: 10%;
    align-self: center;
}
form{
    padding: 5%;
}
label{
    font-size: 25px;
    color: white;

}
input{
    font-size: 25px;
}
input[type=submit]{
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(137, 184, 255, 0.349);
    padding: 2%;
}
#msg{
    color: rgb(199, 0, 0);
    font-size: 20px;
    text-align: center;
}

/* HOME */
/* container parte superior home*/
#containerSup{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

/* container filtros del home */
#containerFiltros{
    background-color: rgba(0, 0, 0, 0.616);
    width: 70%;
    margin: 0 auto;
    padding: 2px 0;
}

#containerContenidoHome{
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

#containerAddRuta{
    position: fixed;
    bottom:10px;
    right: 10px;
}
#btnAdd{
    background-color: rgb(145, 255, 178);
}